@import mixins
@import ../../node_modules/normalize-sass/normalize

.custom-title
	font-family: 'Walter Turncoat', sans-serif
	font-size: 28px

a
	letter-spacing: 1px
	font-weight: light
p
	font-family: 'Short Stack', cursiva, serif
// sprite icons
.sprite
    background-image: url(spritesheet.png)
    background-repeat: no-repeat
    display: block


.sprite-avatar
    width: 52px
    height: 58px
    background-position: -5px -5px


.sprite-box-icon
    width: 72px
    height: 50px
    background-position: -5px -73px


.sprite-f
    width: 13px
    height: 26px
    background-position: -67px -5px


.sprite-f-g
    width: 13px
    height: 26px
    background-position: -90px -5px


.sprite-g
    width: 26px
    height: 22px
    background-position: -67px -41px


.sprite-g-g
    width: 26px
    height: 22px
    background-position: -103px -41px


.sprite-i
    width: 26px
    height: 26px
    background-position: -87px -73px


.sprite-i-g
    width: 26px
    height: 26px
    background-position: -113px -5px


.sprite-search
    width: 26px
    height: 26px
    background-position: -139px -41px


.sprite-t
    width: 26px
    height: 22px
    background-position: -123px -77px


.sprite-t-g
    width: 26px
    height: 22px
    background-position: -87px -109px



// sprite icons end


// inicio
body
	font-size: 14px
	font-family: sans-serif
	overflow-x: hidden

li
	list-style: none

a
	text-decoration: none

.top-info
	background-color: #f7f7f7
	border-bottom: solid 5px #9bd14c
	padding: 5px
	font-size: 14px
	font-weight: bold
	a
		color: $dark-green

.top-contact-info 
	display: inline-block
	float: right
	ul
		padding-left: 0
		padding-right: 1em
		li
			display: inline
			padding: 10px

.top-menu
	display: inline-block
	margin-right: 50px
	ul

		li
			display: inline-block
			padding: 5px
			border-right: 1px solid #84c73e

.navbar
	padding: 5px
	background: #f7f7f7
	height: 100px
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	justify-content: space-around

.logo
	width: 150px
	margin: 20px 5px

.clear
	clear: both


.navbar-links
	ul
		padding-left: 0
		li
			display: inline-block
			padding: 25px 10px
			font-size: 14px
			letter-spacing: 1px
			text-transform: uppercase
			border-right: 1px solid #9bd14c

.checkout
	text-align: center
	ul
		padding-left: 0
		li
			padding: 10px
			display: inline-block
			a
				-webkit-transition: all 300ms
				-moz-transition: all 300ms
				-ms-transition: all 300ms
				-o-transition: all 300ms
				transition: all 300ms
				color: $dark-green
				&:hover
					color: $green

		
.btns-signIn
	ul
		padding: 20px
		li
			display: inline-block
			margin: 5px


.cartBox
	float: right
	width: 50px
	height: 50px

.products-menu
	text-align: center
	border-top: 1px solid #303030
	background: #262525
	font-size: 18px
	ul
		margin: 0
		li
			width: 170px
			margin: 0
			display: inline-block
			padding: 10px 70px
			border-left: 1px solid  #303030
			border-right: 1px solid  #303030
			border-bottom: 5px solid rgba(0,0,0,0)
			-webkit-transition: all 300ms
			-moz-transition: all 300ms
			-ms-transition: all 300ms
			-o-transition: all 300ms
			transition: all 300ms
			&:hover, &:focus
				border-bottom: 5px inset #84c73e

			a
				color: #FFF


.cart
	font-size: 22px


.avatar
	width: 50px
	height: 50px
	background: url('../images/avatar.png')

.sec-products
	padding: 70px
	background: #ddd
	ul
		margin: 0

.banner
	width: 100%
	height: 350px

.slideshow img
	width: 100%
	height: auto

.cta
	margin: 30px 0

.container
	width: 80%
	margin: 0 auto

.post
	padding: 200px 0 0
	justify-content: space-around
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	align-items: flex-end
 	

.post-item
	width: 100%
	height: auto
	// background: #FFF
	margin: 20px
	border-radius: 3px
	overflow: hidden
	img
		width: 100%

.post-item
	-webkit-transition: all 500ms ease-in-out
	-moz-transition: all 500ms ease-in-out
	-ms-transition: all 500ms ease-in-out
	-o-transition: all 500ms ease-in-out
	transition: all 500ms ease-in-out
	&:hover
		transform: translate(0, -50px)
.wood-bg
	background-image: url('../images/bg-wood.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center center

.slide-caption
	padding: 120px 10%
	position: absolute
	z-index: 1000
	background: rgba(0,0,0,0.7)
	top: 0
	right: 0
	left: 0
	bottom: 0
	h2
		color: #FFF
		font-size: 50px
		margin: 0
		span
			color: $light-green
	p
		color: #FFF
		font-size: 26px

.btn-box
	margin: 30px 15px
	text-align: center
// modal start
.modal
  display: none
  position: fixed
  z-index: 1
  padding-top: 100px
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.4)

.modal-content
  position: relative
  background-color: #eee
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 550px
  height: auto
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s
  border-radius: 5px 

.sign-option
	ul
		padding-left: 0
		li
			width: 30px
			height: 30px
			display: inline-block
			margin: 10px
			

@-webkit-keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1


@keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1

.close
  color: white
  float: right
  font-size: 28px
  font-weight: bold
  &:hover, &:focus
    color: #000
    text-decoration: none
    cursor: pointer

.modal-header
  padding: 2px 16px
  background-color: $green
  color: $white
  text-align: center
  h4
  	font-family: 'Short Stack', cursiva, serif


.modal-body
  padding: 40px 16px
  width: 60%
  margin: 0 auto
  text-align: center

.modal-footer
  padding: 25px
  background-color: $green
  color: $white
  font-size: 18px
  h4
  	font-weight: 100
	  //modal end

.sec-2
    width: 100%
    height: 850px
    position: relative
    margin: 150px 0 0
    padding: 0 0 50px

.products
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	justify-content: space-around
	flex-wrap: wrap

.bg-green
	+gradient(0deg,$light-green,$green)

.sec-2
	width: 100%
	text-align: center
	line-height: 1.2
	background: url('../images/bg-wood.png')
	background-size: cover
	background-repeat: no-repeat

.company
	padding: 40px 0
	
.about	
	width: 900px
	text-align: center
	color: #fff
	font-size: 18px
	padding: 50px
	margin: 0 auto
	h2
		font-size: 42px
		color: #FFF
		letter-spacing: 2px
		margin: 2px
		p
			font-size: 50px


// button reset
.btn
	border: none
	font-family: inherit
	font-size: inherit
	color: inherit
	background: none
	cursor: pointer
	text-transform: uppercase
	letter-spacing: 1px
	font-weight: 700
	outline: none
	position: relative
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s

		

.btn:after
	content: ''
	position: absolute
	z-index: -1
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s

//btn primario
.btn-primario
	background: #e8d03d
	color: $dark-green
	box-shadow: 0 6px #a08b35
	-webkit-transition: none
	-moz-transition: none
	transition: none
	padding: 12px

.btn-pri
	border-radius: 5px

.btn-pri:hover
	box-shadow: 0 8px #c6ad46
	top: -2px


.btn-pri:active
	box-shadow: 0 0 #c6ad46
	top: 6px

// btn secundario
.btn-secundario
	background: #FFF
	color: $dark-green
	box-shadow: 0 6px #a8a8a8
	-webkit-transition: none
	-moz-transition: none
	transition: none
	padding: 12px 10px

.btn-sec
	border-radius: 5px

.btn-sec:hover
	box-shadow: 0 8px #c9c9c9
	top: -2px

.btn-sec:active
	box-shadow: 0 0 #c9c9c9
	top: 6px

a.main-link
	text-transform: uppercase
	color: #404040
	-webkit-transition: all 300ms
	-moz-transition: all 300ms
	-ms-transition: all 300ms
	-o-transition: all 300ms
	transition: all 300ms
	&:hover
		color: #9bd14c

.sec-newsletter
	background-color: #e8d03d
	padding: 40px

.newsletter
	padding: 20px 0px
	text-align: center

.newsletter-heading
	text-align: center
	font-size: 22px
	line-height: 0.5
	color: #323d32
	p
		font-size: 16px


.about-img
	img
		width: 100%

footer
	background-color: #262525

.f-social-media
	float: left

.f-social-media
	margin: 30px 0
	ul
		padding-left: 0
		li
			display: inline-block
			padding: 10px

.copy
	border: transparent
	border-top: 1px solid #4c4b4b
	height: 50px
	color: #f1f1f1
	text-align: center

.payment
	text-align: right
	padding: 5px 0
	color: #fff
	text-transform: uppercase
	letter-spacing: 1px
	img
		position: relative
		width: 25%


.brands
	padding: 50px
	text-align: center
	ul
		margin: 0
		padding-left: 0
		li
			display: inline-block
			margin: 0 20px


.column
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center

.plans-content
	background: #efefef
	padding: 10px

.plans-item
	width: 170px
	height: 190px
	padding: 10px
	margin: 3px
	text-align: center
	h3
		font-family: 'Walter Turncoat', sans-serif
		font-size: 20px
.plans
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	justify-content: space-around
.card	
	border-radius: 3px
	background-color: #FFF
	box-shadow: 1px 3px 5px rgba(0,0,0,0.25)

.price	
	p
		font-size: 22px
		display: inline
small
	font-family: 'Short Stack', cursiva, serif
	font-size: 14px

.price
	&:before
		content: "R$"
		color: #6b916e
		font-size: 0.7em
		vertical-align: top

.login
	text-align: center
.newsletter, .login, .sec-signin
	input[type="text"],
	input[type="password"],
	input[type="email"]
		outline: none
		background-color: transparent
		color: #323d32
		border: 0
		border-bottom: 2px solid #323d32
		width: 250px
		margin: 10px
		padding: 10px 0
		&::-webkit-input-placeholder
			color: $dark-green



.sign-heading
	text-align: center

.product-inner
	padding: 20px 0
	-webkit-display: flex
	-moz-display: flex
	-ms-display: flex
	-o-display: flex
	display: flex
	align-items: center
	justify-content: space-around
.product-thumb
	width: 30%
	box-shadow: 1px 1px 10px rgba(0,0,0,0.20)
	img
		width: 100%

.product-details
	width: 65%

