@import ../../node_modules/normalize-sass/normalize

body
	font-size: 14px
	font-family: sans-serif
	overflow-x: hidden

li
	list-style: none

a
	text-decoration: none

.top-info
	background-color: #526b54
	border-bottom: solid 7px #9bd14c
	a
		color: #FFF

.top-contact-info 
	display: inline-block

.top-contact-info li
	display: inline
	padding: 10px

.top-social
	float: right
	display: inline-block
	margin-right: 50px

.top-social li
	display: inline
	padding: 10px

.logo
	padding: 25px 50px
	width: 80px
	height: auto
	text-align: center
	float: left

	
.logo a
	color: #fff
	font-size: 18px
	font-weight: bold
	border: 3px solid #FFF
	padding: 5px 10px 

.navbar
	background-color: #262525
	width: 100%
	height: 73px

.navbar-links ul
	float: right
	margin: 0
	padding: 20px 50px

.navbar-links li
	display: inline
	color: #FFF
	padding: 10px

.avatar
	width: 50px
	height: 50px
	background: url('../images/avatar.png')

.banner
	width: 100%
	height: 350px
	
.slideshow img
	width: 100%
	height: auto

.cta
	margin: 30px 0

.container
	width: 65%
	margin: 0 auto
.features
	margin-top: -30px

.card
	padding: 20px
	text-align: center
	border-radius: 5px
	width: 280px
	height: 370px
	background-color: #FFF
	box-shadow: 1px 3px 5px rgba(0,0,0,0.25)
	transition: all 300ms
	&:hover
		transform: scale(1.03)

.card h3
	color: #2d281e
	font-size: 26px
	text-transform: uppercase
	// padding: 50% 30px 0;
	border-bottom: solid 1px #8cc63f
	margin-bottom: 0

.card p
	color: #6d6b69
	line-height: 1.3
	letter-spacing: 1px
	font-size: 16px

.card svg
	width: 100px
	fill: #8cc63f
	transition: all 300ms
	&:hover 
		fill: #e8d03d

.recepies
	width: 98%
	margin: 20px auto
	height: 350px
	background: #FFF
	border-radius: 5px
	overflow: hidden

.thumb
	width: 50%
	float: left
	overflow: hidden

.thumb > img
	width: 100%
	transition: all 500ms
	&:hover
		-webkit-transform: scale(1.08)
        -moz-transform: scale(1.08)
        -o-transform: scale(1.08)
        -ms-transform: scale(1.08)
        transform: scale(1.08)

.thumb-caption
	position: absolute
	z-index: 10
	padding: 200px 30px 0
	p
		color: #FFF
		font-size: 42px
		font-family: 'Permanent Marker'

.text-board
	width: 350px
	height: 300px
	float: right
	background: #fff
	position: relative
	z-index: 10

.wood-bg
	background-image: url('../images/bg-wood.jpg')
	background-repeat: no-repeat
	background-size: cover
	
// .slick-list.draggable 
// 	width: 100%
// 	height: 420px

	// width: 100%
	// height: 500px
// .cover
// 	width: 100%
// 	height: 455px
// 	background-position: center center
// 	background-repeat: no-repeat
// 	background-size: cover
// 	background-image: url('../images/slide1.jpg')

.slide-caption
	padding: 120px 10%
	position: absolute
	z-index: 200
	h1
		font-family: 'Permanent Marker'
		color: #FFF
		font-size: 50px
		margin: 0
		span
			color: #84c73e
	p
		color: #FFF
		font-family: 'Short Stack'
		font-size: 16px

.sec-2
    width: 100%;
    height: auto;
    position: relative;
    margin: 150px 0 0;
    padding: 0 0 50px


.bg-green
	background-color: #9bd14c

.sec-2-title
	padding: 30px
	h2
		font-family: 'Permanent Marker'
		font-size: 42px
		color: #FFF

.column
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-around

// button reset
.btn 
	border: none
	font-family: inherit
	font-size: inherit
	color: inherit
	background: none
	cursor: pointer
	text-transform: uppercase
	letter-spacing: 1px
	font-weight: 700
	outline: none
	position: relative
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s

.btn:after 
	content: ''
	position: absolute
	z-index: -1
	-webkit-transition: all 0.3s
	-moz-transition: all 0.3s
	transition: all 0.3s

//btn primario
.btn-primario
	background: #e8d03d
	color: #526b54
	box-shadow: 0 6px #a08b35
	-webkit-transition: none
	-moz-transition: none
	transition: none
	padding: 15px 35px;

.btn-pri
	border-radius: 5px

.btn-pri:hover
	box-shadow: 0 8px #c6ad46
	top: -2px


.btn-pri:active
	box-shadow: 0 0 #c6ad46
	top: 6px

// btn secundario
.btn-secundario
	background: #FFF
	color: #526b54
	box-shadow: 0 6px #a8a8a8
	-webkit-transition: none
	-moz-transition: none
	transition: none
	padding: 15px 35px;

.btn-sec
	border-radius: 5px

.btn-sec:hover
	box-shadow: 0 8px #c9c9c9
	top: -2px


.btn-sec:active
	box-shadow: 0 0 #c9c9c9
	top: 6px

